{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptious</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="{% url 'tag_new' %}">Write a tag</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="tag-detail">
        <div>
            <a href="{% url 'tag_edit' tag.id %}">Edit</a>
            <a href="{% url 'tag_delete' tag.id %}">Delete</a>
        </div>
        {% if tag.image %}
        <img src="{{ tag.image }}" class="pull-right">
        {% endif %}
        <h1>{{ tag.name }}</h1>
        <p>
            Created on {{ tag.created }} |
            Updated on {{ tag.updated }}
        </p>
    </main>
</body>

</html>